language: python
python:
- '3.6'

# Used to properly name build artifacts
env:
  global:
    - ARTIFACT_VER="`git describe --tags`"
    - ARTIFACT_NAME="posh-docsets-$ARTIFACT_VER.zip"
    - MOZ_HEADLESS=1
    - FIREFOX_PATH="`which firefox`"

addons:
  firefox: latest

deploy:
  provider: releases
  api_key:
    secure: OgdIHS3FL7+VbfbOYBXDImtiZztgis8ur0iQ+oMnY9+ulUKZsSd2hBuzp/a2+ErJq+HoSsEJDKQcIDSGrNQr0nFpyulOpo2XAcoIsB9Fy62IcMxYJFcCesjY1nQZ62MY/wk70sYrh1SGfiGhALzi5Jd6+kagDByNG3qBczEsr8bmIHSPPANMuzlRz98NjcNiTqk/fh+n2inzcl63G2dIhL8z5pPim2xQGBITYwJUdRut/TBRhazYUPzNQm40klo8rGTAloLFU1DIwkaN8tB9e0QyZvEFhxP6b8lND1nhFcmrUHd2Rk/VYp9FrNjC2JgyokQ1gBCmI0z9ymuu1vIM8K3Bo6cTDuWEt2To352YD8k7FCeYIhS8Z0pc+K++J8Jwakb5HE10dbw+Tmc2fY2LMV/v3f5EQFk5ghIHWrj6V0PQLgIsZ3bzvdeWIvnoKt+3VzbLYHOUHHTfhx86xt3mxPp+tQFdbhrxit0LZd9lUstgNDyspqNTCnL4Evue8+qgUFXcTidjmvKVr9Shf2qoASnbVXMenERwq05YOZU+ETzp6m6ihS8rHbwXkAnNSWpRNOlMLQmlCOs+TyFjFvHV0jDg4SByWLwujenfQwDdXCrxAWtt+z6HFzgtSXPOYcm1e46tAAHKYVVelRh3CiAx5V/Exu76Y2cDqfAtbAzHphI=
  file: $ARTIFACT_NAME
  skip_cleanup: true  
  all_branches: true
  on:
    repo: lucasg/powershell-docset
    tags: true

addons:
  artifacts: true

notifications:
  email:
    recipients:
      - lucas.georges@outlook.com
    on_success: never # default: change
    on_failure: always # default: always

install:
- pip install selenium requests bs4

before_install:
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.24.0/geckodriver-v0.24.0-linux64.tar.gzz
  - mkdir geckodriver
  - tar -xzf geckodriver-v0.20.1-linux64.tar.gz -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver

script:
- mkdir -p Powershell

- python posh-to-dash.py --temporary --output=Powershell/versions/6/Powershell.tgz --version=6 --phantom=$FIREFOX_PATH
# - python posh-to-dash.py --temporary --output=Powershell/versions/5.1/Powershell.tgz --version=5.1
# - python posh-to-dash.py --temporary --output=Powershell/versions/5.0/Powershell.tgz --version=5.0
# - python posh-to-dash.py --temporary --output=Powershell/versions/4.0/Powershell.tgz --version=4.0
# - python posh-to-dash.py --temporary --output=Powershell/versions/3.0/Powershell.tgz --version=3.0

- cp static/icon.png Powershell/icon.png
- cp static/icon@2x.png Powershell/icon@2x.png
- cp Powershell/versions/6/Powershell.tgz Powershell/Powershell.tgz

- cp static/docset-template/README.md Powershell/README.md
- python static/docset-template/create-versionned-docset-json.py --output=Powershell/docset.json --version=$ARTIFACT_VER

- zip -r $ARTIFACT_NAME Powershell
