<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>posh</string>

	<key>CFBundleName</key>
	<string>Powershell</string>

	<key>DashDocSetFallbackURL</key>
	<string>https://docs.microsoft.com/en-US/powershell/module/</string>

	<key>dashIndexFilePath</key>
	<string>docs.microsoft.com/en-US/powershell/module/index.html</string>

	<key>DashDocSetFamily</key>
	<string>posh</string>

	<key>DocSetPlatformFamily</key>
	<string>posh</string>

	<key>isDashDocset</key>
	<false/>

	<key>isJavaScriptEnabled</key>
	<true/>
	
</dict>
</plist>
